@mixin sizeM {
  @media screen and (min-width: 768px) {
    .details-card-item {
      margin-top: 15rem;
      .details-card-img {
        min-width: 20rem;
        max-width: 20rem;
        height: 20rem;
        transform: translate(-6rem, 0);
      }
      .details-card-info {
        margin-top: 3rem;
      }
    }
  }
}

// @mixin sizeL {
// @media screen and (min-width: 768px) {
// .details-card-item {
// .details-card-img {
//   min-width: 30rem;
//   max-width: 30rem;
//   height: 30rem;
//   transform: translate(-6rem, 0);
// }
// .details-card-info {
//   margin-left: -2rem;
//   margin-top: 3rem;
// }
// }
// .details-card-date span {
//   color: rgba(0, 0, 0, 0.5);
//   font-size: 1.5rem;
// }
// .details-card-title {
//   text-transform: uppercase;
//   font-size: 1.5rem;
//   letter-spacing: 1px;
// }
// .details-card-text {
//   font-size: 1.2rem;
//   color: rgba(0, 0, 0, 0.7);
// }
// .details-card-actions {
//   font-size: 1rem;
// }
// .btn {
//   font-size: 1.5rem;
// }
// }
// }
