@mixin sizeS {
  @media screen and (min-width: 480px) {
    .details-card-item {
      .details-card-img {
        min-width: 25rem;
        max-width: 25rem;
        height: 20rem;
      }
    }
  }
}

@mixin sizeM {
  @media screen and (min-width: 768px) {
    .details-card-item {
      width: auto;
      max-width: 90vw;
      margin-left: 4rem;
      margin-top: 15rem;
      .details-card-img {
        height: 22rem;
        transform: translate(-6rem, 0);
      }
      .details-card-info {
        max-width: 30vw;
        min-width: 30vw;
        margin-top: 3rem;
      }
    }
  }
}
@mixin sizeL {
  @media screen and (min-width: 992px) {
    .details-card-item {
      min-width: inherit;

      .details-card-img {
        min-width: 30rem;
        max-width: 30rem;
        height: 25rem;
      }
    }
  }
}
