@import 'variables.scss';
@media screen and (max-width: 1068px) {
}

@mixin tabletSize {
  @media screen and (min-width: 768px) {
    .details-card-item {
      padding: 5rem;
      .details-card-img {
        min-width: 25rem;
        max-width: 25rem;
        height: 18rem;
        transform: translate(-8rem, 0);
      }
      .details-card-info {
        margin-top: 0;
      }
    }
    .details-card-date span {
      color: rgba(0, 0, 0, 0.5);
      font-size: 1.6rem;
      font-weight: 600;
    }
    .details-card-title {
      text-transform: uppercase;
      font-size: 1.5rem;
      letter-spacing: 1px;
    }
    .details-card-text {
      font-size: 1.3rem;
      color: rgba(0, 0, 0, 0.7);
    }
    .details-card-actions {
      font-size: 1.6rem;
    }
  }
}
