$theme-colors: (
  primary: #3f8f8f,
  secondary: #d5bd85,
  info: #1d1a17a9
);

$config: (
  shadows: 2px 3px 7px rgba(0, 0, 0, 0.651),
  main-color: linear-gradient(to right, #0b8d94 0%, #396d6e 100%),
  gradiend: linear-gradient(to right bottom, #153747, #157094)
);
